@model MockPizzaStore.Models.PizzaFormViewModel

@{
    ViewData["Title"] = "Our Menu";
}

<h1>Pizzas</h1>

<div class="row">
    @{
        foreach (var pizza in Model.Pizzas)
        {
            <div class="col-sm-6 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-text">@pizza.PizzaName</h4>
                    </div>
                    <img id="pizza-card-image" src="@Url.Content(pizza.Image)" alt="Pizza image">
                    <div class="card-block">
                        <!---->
                        <form asp-action="Index" asp-controller="Menu">
                            <input type="hidden" asp-for="PizzaName" value="@pizza.PizzaName" />

                            <select id="pan-dropdown" class="btn pizza-choices" asp-for="SelectedPanSize" asp-items="Model.PanSizes">
                                @*<option selected disabled>Choose a Pan Size</option>*@
                            </select>

                            <select id="crust-dropdown" class="btn pizza-choices" asp-for="SelectedCrustType" asp-items="Model.CrustTypes">
                                @*<option selected disabled>Choose Your Crust</option>*@
                            </select>
                            <input class="btn btn-danger font-weight-bold" type="submit" value="Add To Order" />
                        </form>
                    </div>
                </div>
            </div>
        }
    }
</div>

@{TempData.Keep("Cart"); }