@model MockPizzaStore.Models.OrderViewModel

@{
    ViewData["Title"] = "Home Page";

    @*<p> @Model.pizzas.FirstOrDefault(row => row.ToLower() == "pepperone") </p>
        <br />*@

    @*foreach (var pizza in Model.pizzas)
    {
        <p>@pizza.PizzaName</p>
    }*@

    <p></p>
}