@model MockPizzaStore.Models.OrderViewModel

@{
    ViewData["Title"] = "Home Page";

}

<h1>@TempData.Peek("Cart")</h1>

<h3>Welcome</h3>

<p>put a carousel here and call to action</p>

<a asp-controller="Menu" asp-action="Index" class="btn btn-danger font-weight-bold">Start Order</a>

@{TempData.Keep("Cart"); }