@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h2>Welcome to the Pizza Box</h2>
        <h4>Click below to start order</h4>
        <br />
        <br />
        <a asp-controller="Order" asp-action="Index" class="btn btn-primary">Start Order</a>
    </div>


