
@{
    ViewData["Title"] = "Index";
}

<h1>My Order</h1>

<h1>@TempData.Peek("Cart")</h1>
<h3>Your Shopping Cart is Empty</h3>
<h6>this will only show if passed data is empty</h6>

<a asp-controller="Menu" asp-action="Index" class="btn btn-danger font-weight-bold">Go to Menu</a>

@{TempData.Keep("Cart"); }