
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h3>Your Shopping Cart is Empty</h3>
<h6>this will only show if passed data is empty</h6>

<a asp-controller="" asp-action="" class="btn btn-primary">Go to Menu</a>
